<div class="layout-container">
  <header role="banner">
    {{ page.header }}
  </header>

  <main role="main">
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>
dupa dupa dupa
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
</div>
