.swiper {
  height: 450px;
}

.bottom-container {
  max-width: 100vw;
}

.desc-container {
  max-width: 100vw;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .left {
    width: 50% !important;
  }

  .right {
    width: 50% !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 250px !important;
}

.swiper-pagination-bullet:not(:active) {
  background-color: white;
}
